<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans&family=Ubuntu:wght@400;700&display=swap"
            rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Форма регистрации</title>
</head>

<body>

<section id="mail" class="mail">
    <div class="container">
        <h2 class='section-title'>Форма заказа билета</h2>
        <form action="#" class="form">
            <p>Спасибо! Ваша информация успешно сохранена, в ближайшее время с вами свяжется наш менеджер</p>
            <a href="http://localhost:8080">На главную</a>
        </form>
    </div>
</section>
<footer id="footer" class="footer">
    <div class="container">
        <p class="credits">© Все мои мечты защищены моим трудолюбием</p>
    </div>
</footer>
</body>

</html>